.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.outerTabContainer, .innerTabContainer {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.tabButton {
  padding: 10px 20px;
  font-size: 1rem;
 
  cursor: pointer;
  border-bottom: 1px solid gray !important;
  
  margin-right: 15px;

}

.tabButton.active {
  border-bottom: 2px solid #007bff !important;
  color: #007bff;
}

.content {
  background-color: #f8f9fa;
  padding: 30px;
  padding-top: 0px;
  border-radius: 5px;
  position: relative;
  min-height: 400px;
  width: 100%;
}

.tabContent {
  position: absolute;
  top: -10px;
  left: -20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  width: calc(100% - 40px);
  padding: 0px;
  /* padding-top: 10px; */
  transform: scale(0.9);
  color: #495057;
  font-size: larger;
  height: 1200px;
 
}

.tabContent.active {
  opacity: 1;
  visibility: visible;
  /* background-color: red; */
}

.exampleContent {
  margin-top: 20px;
  width: 100%;
}

.codeExplanationContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

.codeContainer {
  flex: 7;
  width: 70%;
}

.explanationContainer {
  flex: 4;
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.innerTabContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tabButton {
  padding: 10px 20px;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}

.tabButton.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
  background-color: #e2e3e5;
  border-radius: 5px;
}

.runButton {
  margin-top: 10px;
  padding: 5px 10px;
  background-color:#808080;
  
  color: white;
  border: none;
  cursor: pointer;
  max-height: 30px;
  font-size: small;
  
  min-width: 50px;
  width: 100px;
}

.runButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.outputBox {
  background-color: black;
 
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 10px;
  color: #ffff4d;
  
}
.outputTitle{
  margin:10px;
  font-size: medium;
  min-width: 60px;
}

.link{
  text-decoration: none;
  color: #007bff;
}

.outputContainer{
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .codeExplanationContainer {
    flex-direction: row;
  }
  
  .codeContainer {
    flex: 7;
    width: 70%;
  }
  
  .explanationContainer {
    flex: 4;
    width: 30%;
  }
}

.tabButton {
  text-transform: capitalize;
  font-weight: bold;
  color: #1e429f;
  margin-top: 3px;
}


.functionDiagramContainer {
  margin: 0rem 0;
  margin-top: 30px;
  width: 1000px;
  overflow-x: auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.functionSpan{
  background-color: rgba(175, 184, 193, 0.2);
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-family: ui-monospace, monospace;
  font-size: 95%;
  color: black;
  font-weight: 300;
}


.content a{

  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.excerpt{
  font-weight: bolder;
  color: #3498db;
  font-size: 18px;
}

.subTitle{
  margin-left: 30px;
  font-weight: 600;
  color: #3498db;
}

.workFlow{
  width: 100%;
}

.diagrams{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  width: 100%;
  /* background-color: red; */
}

.paramsDescription{
  color:blue;
}

.extendedDescription{
  font-size: 17px;
}