.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    margin-left: 20px;
   
}

.slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 100%;
   
}

.slide.active {
    opacity: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slideContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    z-index: 1000;
    text-transform: capitalize;
}

.prevButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.prevButton {
    left: 10px;
}

.nextButton {
    right: 10px;
}

.slideContent a {
    color: aliceblue;
    
}

@media (max-width: 768px) {
    .carousel {
        min-height: 200px;
    }

    .slideContent {
        padding: 10px;
    }

    .slideContent h2 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .slideContent p {
        font-size: 0.9em;
        margin-bottom: 5px;
    }

    .prevButton, .nextButton {
        padding: 5px 10px;
        font-size: 16px;
        margin: 10px;
        visibility: hidden;
    }
}

@media (max-width: 480px) {
    .carousel {
        min-height: 150px;
        z-index: -10000;
    }

    .slideContent h2 {
        font-size: 1em;
    }

    .slideContent p {
        font-size: 0.8em;
    }

    .prevButton, .nextButton {
        padding: 3px 8px;
        font-size: 16px;
        height:60px;
        margin:5px;
        max-width: 20px;
    }
}